[Desktop Entry]
Version=2.0
Type=Application
Name=LADOCK Desktop
Comment=Open-source molecular docking workstation
Exec=/media/arga/DATA1000/LADOCK/ladock.sh
Icon=/media/arga/DATA1000/LADOCK/gui/assets/icon.png
Terminal=false
Categories=Science;Chemistry;Education;
Keywords=docking;molecular;vina;autodock;cheminformatics;
StartupWMClass=LADOCK Desktop
